<html>
 <head>
  <title>Welcone to ansible</title>
 </head>
 <body>
  <h1>nginx, configured by Ansible</h1>
   <p>If you can see this, Ansible successfully installed nginx.</p>
   <p>Nginx server installed on {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
   <p> Server IP4 addresses: {{ ansible_all_ipv4_addresses }}</p>
 </body>
</html>
